.logo{
    color: #0A1B32;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 160% */
letter-spacing: -0.6px;
letter-spacing: 0.02em;
    
margin: top 37px;
margin-left: 80px;
}

.logo-dog {
    color: rgb(171, 3, 124);
}